* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color:rgb(224, 224, 224);
}

header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;
    background-color: white;

}

section {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* -------------- ids -------------- */

#logo_instagram {
    height: 50px;
    margin-top: 5px;
}

#lupa_search {
    width: 20px;
    height: 20px;
    margin: 10px 5px 10px 5px;
    padding: 5px;
}

#search {
    margin: 0px 5px;
    padding: 5px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    border-width: thin;
    text-align: center;
}

#pesquisa {
    margin: 3px 5px 0px 5px;
    padding: 0px 5px;
}

#icones_pagina {
    margin: 0px 5px;
    padding: 0px 5px;
}

#perfil_redonda {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

#post {
    margin: 15px 200px;
    background-color: white;
}

#inserir_comentario {
    border-style: none;
    padding-left: 20px;
}

#enviar_comentario {
    border-style: none;
    color: rgb(126, 173, 226);
    padding-right: 50px;
}


/* -------------- classes -------------- */

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone {
    width: 20px;
    height: 20px;
    margin: 10px 5px 10px 5px;
    padding: 5px;
}

.img_redonda {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.perfil_pagina {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

.comentarios {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 50%;
    padding-top: 15px;
}

.mesma_linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

.nome_perfil {
    padding: 10px;

}