* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex; /* os dois abaixo só funcionam se tiver o display: flex */
    justify-content: center;
    align-items: center;
    background-color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 40%;
    border-radius: 10px;
    background-color:white;
}

forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#username {
    margin: 5px;
    padding: 5px;
    width: 100%;
}

#password {
    margin: 5px;
    padding: 5px;
    width: 100%;
}

#submitbutton {
    margin: 5px;
    padding: 5px;
    background-color: blue;
    border-color: blue;
    border-radius: 10px;
    color: white;
    width: 100%;
}

#submitbutton:hover {
    background-color: red;
    border-color: red;
    border-radius: 10px;
}